/* 主体容器宽度 */
.wrapin {
    width: 1000px;
	/* 让容器在父元素中水平居中，不过这里是没用简写属性而是分开写了而已 */
    margin-left: auto;
    margin-right: auto;
}

/* 页眉样式 */
header {
    background: #9400D3;
    line-height: 60px;
    padding: 0 15px;
}

/* 后代选择哦 */
header .logo {
	/* 后代选择哦 */
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 60px;
}

header .nav li {
    width: 120px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

header .nav li a {
    color: #fff;
}

.banner img {
    width: 100%;
}

/* 内容区域样式 */
.content {
    background: #F4F8FF;
    padding: 15px;
}

/* 页脚样式 */
footer {
    background: #9400D3;
    line-height: 60px;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
}
 body{
	            /* 设置背景渐变 */
	            background-image: linear-gradient(to left,
	            #9c88ff,#FF6699);
	            display: flex;
	            justify-content: center;
	        }